window {
    font-size: 20px;
    font-family: "JetBrains Mono Medium";
    background-image: url("/home/user/Pictures/Wallpapers/menuback.jpg");
    border: 2px solid #000000;
    border-radius: 15px;
}

#entry{
    padding: 0.30em;
}

#entry:selected {
    background: linear-gradient(45deg, rgba(144,205,250,0.7) 0%, rgba(182,155,241,0.7) 60%);
    color: #333333;
    border-radius: 2px;
}

#expander-box {
    background: transparent;
    color: #333333;
}

#text:selected {
    color: #333333;
    background: none;
}

#input{
    background-color: rgba(10,10,10,0.6);
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: 500;
    color: grey;
    padding: 6px;
    box-shadow: none;
    border-radius: 15px; 
}

#input:focus{
    color: rgb(200,200,200);
}

#img{
    padding-right:10px;
}

#outer-box{
    box-shadow: none;
    border-radius: 5px;
    border: 3px solid #8372AF;
    padding-bottom: 0px;
    transition: 0.5s ease-in-out;
}
